*{
  margin: 0;
  padding: 2vh;
  max-width: 100vW;
  background-color: #F0F0F0;
}

p{
  font-family: "Chalkduster", fantasy, sans-serif;
  padding: 4vh;
  text-align: center;
  font-size: 2.2vh;
  width: 80vh;
  voice-family: male;
  richness: 80;
}

.startPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.page1{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.page1 img{
  box-shadow: 1vh 1vh 1vh 1vh #888888;
    max-height: 70vh;
}
.page2 img{
  box-shadow: 1vh 1vh 1vh 1vh #888888;
    max-height: 70vh;
}
.page3 img{
  box-shadow: 1vh 1vh 1vh 1vh #888888;
    max-height: 70vh;
}
.page4 img{
  box-shadow: 1vh 1vh 1vh 1vh #888888;
    max-height: 70vh;
}
.page5 img{
  box-shadow: 1vh 1vh 1vh 1vh #888888;
  max-height: 70vh;
}
.page6 img{
  box-shadow: 1vh 1vh 1vh 1vh #888888;
  max-height: 70vh;
}
.page7 img{
  box-shadow: 1vh 1vh 1vh 1vh #888888;
  max-height: 70vh;
}
.page8 img{
  box-shadow: 1vh 1vh 1vh 1vh #888888;
  max-height: 70vh;
}
.startPage img{
  box-shadow: 1vh 1vh 1vh 1vh #888888;
  max-height: 70vh;
}
#hall1{
  position: absolute;
  z-index: 1;
  opacity: 1;
  animation-name: openDoor;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
#hall2{
  z-index: 0;
}
.page2{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
#livingroom1{
  position: absolute;
  z-index: 1;
  opacity: 1;
  animation-name: openDoor;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
#livingroom2{
  z-index: 0;
}
@keyframes openDoor{
  0%{opacity: 1;}
  50%{opacity: 0;}
  100%{opacity: 1;}
}
.page3{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
#kitchen1{
  position: absolute;
  z-index: 2;
  animation-name: kitchen;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
#kitchen2{
  position: absolute;
  z-index: 1;
  opacity: 1;
  animation-name: openKitchenDoor;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
#kitchen3{
  position: relative;
  z-index: 0;
  opacity: 1;
  animation-name: getRedYarn;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes kitchen{
  0%{opacity: 1;}
  33%{opacity: 0;}
  66%{opacity: 0;}
  100%{opacity: 1;}
}
@keyframes openKitchenDoor{
  0%{opacity: 0;}
  33%{opacity: 1;}
  66%{opacity: 0;}
  100%{opacity: 0;}
}
@keyframes getRedYarn{
  0%{opacity: 0;}
  33%{opacity: 0;}
  66%{opacity: 1;}
  100%{opacity: 0;}
}
.page4{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
#upper_hall1{
  position: absolute;
  z-index: 1;
  opacity: 1;
  animation-name: openDoor;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
#upper_hall2{
  z-index: 0;
  position: relative;
}
.page5{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
#bedroom1{
  position: absolute;
  z-index: 2;
  animation-name: kitchen;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
#bedroom2{
  position: relative;
  z-index: 1;
  opacity: 1;
  animation-name: openKitchenDoor;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
#bedroom3{
  position: absolute;
  z-index: 0;
  opacity: 1;
  animation-name: getRedYarn;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
.page6{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
#attic1{
  position: absolute;
  z-index: 1;
  opacity: 1;
  animation-name: openDoor;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
#attic2{
  z-index: 0;
}
.page7{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
#cabinet1{
  position: absolute;
  z-index: 2;
  animation-name: kitchen;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
#cabinet2{
  position: relative;
  z-index: 1;
  opacity: 1;
  animation-name: openKitchenDoor;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
#cabinet3{
  position: absolute;
  z-index: 0;
  opacity: 1;
  animation-name: getRedYarn;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
.page8{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
#vase1{
  position: absolute;
  z-index: 1;
  opacity: 1;
  transition: 1s;
}
#vase2{
  opacity: 1;
  z-index: 0;
}
@media screen and (max-width: 500px) {

}
