*{
  margin: 0;
}
.page1{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  min-height: 100vh;        /*Make the pages display on individual screen*/
}
#hall1{
  object-fit: contain;
  max-height: 90vh;
  max-width: 90vw;
  position: relative;
  z-index: 1;
  opacity: 1;
  animation-name: openDoor;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
#hall2{
  max-height: 90vh;
  position: absolute;
  z-index: 0;
}
#page1Text{
  max-width: 80vW;
  padding: 2vh;
  text-align: center;
  font-size: 2vh;
}
.page2{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
}
#livingroom1{
  object-fit: contain;
  max-height: 90vh;
  position: relative;
  z-index: 1;
  opacity: 1;
  animation-name: openDoor;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
#livingroom2{
  max-height: 90vh;
  position: absolute;
  z-index: 0;
}
#page2Text{
  max-width: 80vW;
  padding: 2vh;
  text-align: center;
  font-size: 2vh;
}
@keyframes openDoor{
  0%{opacity: 1;}
  50%{opacity: 0;}
  100%{opacity: 1;}
}
.page3{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
}
#kitchen1{
  object-fit: contain;
  max-height: 90vh;
  position: relative;
  z-index: 2;
  animation-name: kitchen;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
#kitchen2{
  max-height: 90vh;
  position: absolute;
  z-index: 1;
  opacity: 1;
  animation-name: openKitchenDoor;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
#kitchen3{
  max-height: 90vh;
  position: absolute;
  z-index: 0;
  opacity: 1;
  animation-name: getRedYarn;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@keyframes kitchen{
  0%{opacity: 1;}
  33%{opacity: 0;}
  66%{opacity: 0;}
  100%{opacity: 1;}
}
@keyframes openKitchenDoor{
  0%{opacity: 0;}
  33%{opacity: 1;}
  66%{opacity: 0;}
  100%{opacity: 0;}
}
@keyframes getRedYarn{
  0%{opacity: 0;}
  33%{opacity: 0;}
  66%{opacity: 1;}
  100%{opacity: 0;}
}
.page4{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  min-height: 100vh;
}
#upperhallway1{
  object-fit: contain;
  max-height: 90vh;
  max-width: 90vw;
  position: relative;
}
.page5{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  min-height: 100vh;
}
.page6{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  min-height: 100vh;
}
.page7{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  min-height: 100vh;
}
.page8{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  min-height: 100vh;
}
.page9{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  min-height: 100vh;
}
